:root {
  --background-color: #1c2233;
  --primary-color: #c7f229;
  --secondary-color: #a8d80a;
  --tertiary-color: #83ad03;
  --fourth-color: #fcffe5;
  --sixth-color: #ffae71;
  --box-shadow-color: 0 2px 8px rgba(0, 0, 0, 0.1);
  --font: Inter, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--font);
  background-color: var(--background-color);
}
